body {
    background-color:#222;
    color:whitesmoke;
    font-size:larger;
    margin: 10px;
    font-family: 'Share Tech Mono', Monospace, Courier;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.header {
    border-bottom: 1px dotted rgb(142, 142, 142);
}

.message {
    width: 50%;
    margin: auto;
    text-align: center;
}

a {
    text-decoration: none;
    color:cornflowerblue
}

input[type='submit'] {
    font-family: 'Share Tech Mono', Courier, monospace;
    background-color: rgb(158, 158, 158);
    margin:8px 0px;
    padding: 10px 15px;
    border-radius: 2px;
    cursor: pointer;
}

input[type='submit']:hover {
    background-color: cornflowerblue;
}




