{% extends 'base.html' %}

{% block head %}
<div class="header">
<h2>Phishing Dectection</h2>
</div>
{% endblock %}


{% block body %}
<div class="grid-container">
<div>
<form action="/" method="POST">
    <label for="sender">Sender:</label><br>
    <input type="text" id="sender" name="sender"><br>
    <label for="sline">Subject Line:</label><br>
    <input type="text" id="sline" name="sline"><br>
    <label for="body">Email Body:</label><br>
    <textarea id="body" name="body" rows="25" cols="50"></textarea>
    <input type="submit" value="submit">
</form>
</div>

<div>
    <p>
        This is a web app that can detect scam emails. 
        Simply put in the sender, subject, and body to recieve a classification for you email!
        This app uses a keras nueral network model trained on a dataset full of thousands of emails.
    </p>
</div>
</div>
{% endblock %}

